$primary: #0953a0;
$success: #2ec36a;
$warning: #ffa200;
$error:   #e41632;

.CoverageItem {
  border: 1px solid #e1e1e1;
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1.75rem;
  .Star,
  .Warning,
  .Shield,
  .Stop {
    height: 26px;
    float: right;
  }
  .Star {
    .bg { fill: lighten($success, 35%) }
    .fg { fill: $success }
  }
  .Shield {
    .bg { fill: lighten($success, 35%) }
    .fg { fill: $success }
  }
  .Stop {
    .bg { fill: $error }
    .fg { fill: lighten($error, 25%) }
  }
  .Warning {
    height: 26px;
    float: right;
    .bg { fill: lighten($warning, 35%) }
    .fg { fill: $warning }
  }
  button {
    border: 1px solid $primary;
    font-size: 0.8rem;
  }
  h4 {
    line-height: 26px;
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.CoverageItem {
  .Modify {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  &.Modifying {
    .Modify {
      max-height: 250px;
      .HelpCopy {
        small {
          display: block;
          padding: 15px 0 25px 0;
          color: #777;
        }
      }
    }
  }
}

.CoverageItem {
  &.Lowest {
    // background-image: linear-gradient(45deg, #ffffff 25%, #fffafa 25%, #fffafa 50%, #ffffff 50%, #ffffff 75%, #fffafa 75%, #fffafa 100%);
    // background-size: 56.57px 56.57px;
    box-shadow: 2px 3px 3px 0px rgba($error, 0.2);
    border-color: lighten($error, 25%) ;
  }
  &.Highest {
    .currencyValue,
    .textValue {
      color: $success;
    }
  }
  &.Mid {
    .currencyValue,
    .textValue {
      color: $warning;
    }
  }
  &.Lowest {
    .currencyValue,
    .textValue {
      color: $error;
    }
  }
}

.BriefDescription {
  font-size: 1.1rem;
  color: #777;
}

.CoverageLevel {
  display: block;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  color: #777;
}

.CoverageItem.Lowest {
  overflow: hidden;
  .CoverageLevel {
    display: block;
    padding: 8px 15px;
    border-top: 1px solid lighten($error, 20%);
    color: $error;
    background: lighten($error, 47%);
    margin: 0 -15px -15px -15px;
  }
}

@media (min-width: 768px) {
  .CoverageList {
    .LeftList {
      width: 48.5%;
      float: left;
    }
    .RightList {
      width: 48.5%;
      float: right;
    }
  }
}

.VehicleCoverageItem {
  .VehicleTitle {
    line-height: 26px;
    margin: 0 0 12px 0;
    color: $success;
    &.notApplicable {
      color: #999;
    }
  }
  .Warning,
  .Shield {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
  }
  .NotApplicable {
    float: right;
    color: #999;
  }
}